<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>
    
    <div class="text-muted text-end">
         Додатковий текст
    </div>

    <hr>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary">
                    <span class="text-uppercase">Button primary</span>
                </button>
                <button class="btn btn-secondary">
                    Button secondary
                </button>
                <button class="btn btn-success">
                    Button success
                </button>
                <button class="btn btn-danger">
                    Button danger
                </button>
                <button class="btn btn-warning">
                    Button warning
                </button>
                <button class="btn btn-info">
                    Button info
                </button>
                <button class="btn btn-light">
                    Button light
                </button>
                <button class="btn btn-dark">
                    Button dark
                </button>
                <a href="#" class="btn btn-link">
                    Button link
                </a>
            </div>
        </div>
    
    <hr>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="text-divrimary">My divrimary</div>
                <div class="text-secondary">My secondary</div>
                <div class="text-success">My success</div>
                <div class="text-danger">My danger</div>
                <div class="text-warning">My warning</div>
                <div class="text-info">My info</div>
                <div class="text-light">My light</div>
                <div class="text-dark">My dark</div>
            </div>
        </div>
  

    <hr>

    <button class="btn btn-outline-primary btn-lg">Outline primary</button>
    <button class="btn btn-outline-secondary btn-sm">Outline secondary</button>
    <button class="btn btn-outline-success">Outline success</button>
    <button class="btn btn-outline-danger">Outline danger</button>
    <button class="btn btn-outline-warning">Outline warning</button>
    <button class="btn btn-outline-info">Outline info</button>
    <button class="btn btn-outline-light">Outline light</button>
    <button class="btn btn-outline-dark">Outline dark</button>

    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary btn-lg">Outline primary</button>
            <button class="btn btn-outline-secondary btn-sm">Outline secondary</button>
            <button class="btn btn-outline-success">Outline success</button>
            <button class="btn btn-outline-danger">Outline danger</button>
            <button class="btn btn-outline-warning">Outline warning</button>
            <button class="btn btn-outline-info">Outline info</button>
            <button class="btn btn-outline-light">Outline light</button>
            <button class="btn btn-outline-dark">Outline dark</button>
        </div>
    </div>
        <br>
        <br>
    <div class="card">
        <div class="card-body">This is content</div>
    </div>

</main>