
<main>
    <div class="nav">
        <div class="nav-item">
            <a href="#" class="nav-link">Link</a>

<main class="p-5">

    <h1>Hello world!</h1>
    {{> title data="My title"}}

    <h1 style="color: black; background: yellow;">This is text</h1>

</main>