<main>
    <div class="card">
        <img class="card-img-top" src="https://content.rozetka.com.ua/goods/images/big/286233149.jpg" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title">Product #56534</h5>
            <p>Навушники Nokia Wireless Headphones WHP-101 Black (8P00000154)</p>
            <a href="/summary" class="btn btn-primary">Open</a>
        </div>
    </div>

</main>