{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<section class="row">
<div class="col-6 p-5">
    <h1>Руслан Грибан</h1>
</div>
<div class="col-6 p-5 text-end">
    <h1>Resume project</h1>
</div>
</section>
<section class="m-5">
    <h2> Audio Progress and Visualization</h2>

<p>Приложение для воспроизведения и визуализации аудио данных с помощью Web Audio API и Canvas API.</p>
</section>
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}